.change-player,
#restart-btn {
  width: 8em;
  height: 4em;
  border-radius: 2em;
  font-weight: 500;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 4px;
  margin: 16px;
  background-color: black;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid #000;
  background-color: white;
}

#turn {
  padding-left: 5em;
}

#board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#player-one,
#player-two {
}
